# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

# Ignore data
data/raw/
data/processed/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore OS/system files
.DS_Store
Thumbs.db
